
@{
    ViewData["Title"] = "Zglos awarie";
    Layout = "_Layout";
}

<div asp-validation-summary="All" class="red-text"></div>

<div class="row">
    <form asp-action="ReportAccident" method="post" class="col s12">
        <div class="row">
            @*TODO Wybranie Maszyny.*@
        </div>
    </form>
</div>