@model Models.ViewModels.CreateUserViewModel
@{
    Layout = "_Layout";
}

<form id="Form" asp-action="CreateAccount" asp-controller="Account" method="post">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="FNameInput" asp-for="FirstName" type="text" class="validate" />
                    <label id="FNameLabel" asp-for="FirstName">Imie</label>
                    <span asp-validation-for="FirstName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="far fa-user-circle prefix"></i>
                    <input id="SNameInput" asp-for="SecondName" type="text" class="validate" />
                    <label id="SNameLabel" asp-for="SecondName">Nazwisko</label>
                    <span asp-validation-for="SecondName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-at prefix"></i>
                    <input id="SNameInput" asp-for="Email" type="text" class="validate" />
                    <label id="SNameLabel" asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2">
                    <i class="fas fa-user-tag prefix"></i>
                    <input id="UserInput" asp-for="UserName" type="text" class="validate" />
                    <label id="UserLabel" asp-for="UserName">Nazwa Użytkownika</label>
                    <span asp-validation-for="UserName" class="helper-text left-align red-text darken-1"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 m6 s9 push-l1 push-m2 left-align">
                    <i class="fas fa-id-card prefix"></i>
                    <select asp-for="Role">
                        <option value="Employes" selected>Pracownik</option>
                        <option value="Mechanics">Mechanik</option>
                        <option value="Administrators">Administrator</option>
                    </select>
                    <label>Typ Konta</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l5 m7 s9 right-align">
            <div>
                <a href="/Admin/Index" class="btn waves-effect waves-light orange darken-2">
                    Anuluj
                    <i class="fas fa-times"></i>
                </a>
                <button type="submit" class="btn waves-effect waves-light teal darken-1">Dodaj <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script src="~/Scripts.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });

        $("#SNameInput, #FNameInput").keyup(function () {
            var secondName = $('#SNameInput').val();
            var firstName = $('#FNameInput').val();
            if (firstName.length !== 0 && secondName.length !== 0)
            {
                $url = "/Account/GenerateUserName";
                var func = function (result) {
                    $('#UserInput').val(result).addClass('valid').change();
                    $('#UserLabel').addClass('active');
                }
                $data = $('#Form').serialize();
                AjaxAndFunc($url, func,$data);
            }
        })

    </script>
}





